*{
    font-family: 'UA_CC_Elephantmen-Aged' ;
}
@font-face {
    font-family: 'UA_CC_Elephantmen-Aged' ;
    src: url(../fonts/ua_cc_elephantmen_aged.ttf);
    font-style: normal;
    font-weight: normal;
}
.smodal.open .modal_back, .smodal.open .modal_window {
    opacity: 1;
    z-index: 1000;
}

.smodal.hide .modal_back, .smodal.hide .modal_window {
    opacity: 1;
    z-index: 1000;
}

.smodal.open .modal_window{
    transform: translateY(200px);
}
.smodal.open .modal_back{
    background: rgba(12, 12, 12, 0.84)
}

.smodal.hide .modal_window{
    transform: translateY(-500px);
}
.smodal.hide .modal_back{
    background: rgba(12, 12, 12, 1)
}

.modal_window, .modal_back{
    opacity: 0;
    z-index: -1;
}

.modal_back{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .4s ease-in;
}
.modal_window{
    width: 50%;
    height: 60%;
    border-radius: 20px;
    background-color: #2C2C2C;
    margin: 0 auto;
    color: white;
    transform: translateY(-500px);
    transition: transform .4s ease-in;
    -webkit-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
}

.modal-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.headerk{
    font-size: 35px;
    display: flex;
    justify-content: center;
}
.modalvvod{
    font-size: 24px;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.modalvvod input{
    font-size: 18px;
    height: 13%;
    padding: 2% 3%;
    width: 70%;
    border-radius: 10px;
    border: 1px solid;
    outline:none;
}
.modalvvod input:focus{
    border:1px solid white;
    box-shadow:0 0 7px white;
}
.modalknop{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.modalknop button{
    color: white;
    background-color: #0C0C0C;
    font-size: 20px;
    border: 0;
    padding: 3%;
    border-radius: 15px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
}
.modalknop button:hover{
    color: #0C0C0C;
    background-color: white;
}
@media (max-width: 450px){
    .modal_window{
        width: 95%;
        height: 50%;
    }
    .modal-body{
        width: 100%;
    }
    .headerk{
        font-size: 25px;
    }
    .modalvvod p{
        text-align: center;
    }
    .modalvvod input{
        width: 80%;
    }
    .modalknop{
        width: 80%;
    }
}