*{
    margin: 0;
    padding: 0;
    font-family: 'UA_CC_Elephantmen-Aged';
}
body{
    height: 100%;
    width: 100%;
    background-color: #0C0C0C;
    display: flex;
    flex-direction: row;
}
::-webkit-scrollbar {
    width: 0;
  }
.left{
    position: sticky;
    width: 25%;
    height: 100vh;
    background-color: #2C2C2C;
    top: 0;
}
.vnutrleft{
    
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2C2C2C;
}
.name{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    font-size: 30px;
    color: white;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #1B1B1B;
    height: 25%;
    width: 100%;
}
.buttons button{

    width: 100%;
    font-size: 24px;
    padding: 5% 2% 6% 2%;
    text-align: left;
    background-color: #1B1B1B;
    border: 0;
    color: white;
    cursor: pointer;
}
.buttons button:hover{
    background-color: #2C2C2C;
    cursor: pointer;
}
.buttons button:focus{
    color:#0C0C0C;
}
.right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    align-items: center;
}
.head{
    height: 6rem;
    background-color: #2C2C2C;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prof{
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.us{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 55%;
    height: 50%;
}
.us label{
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}
.us button{
    border: 0;
    background-color: #2C2C2C;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.us button:hover{
    color:#1B1B1B;
    cursor: pointer;
}
.dost{
    width: 15%;
    height: 90%;
    display: flex;
    align-items: center;
}
.dost button{
    color: white;
    background-color: #0C0C0C;
    font-size: 20px;
    border: 0;
    padding: 6%;
    border-radius: 15px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
}
.dost button:hover{
    color: #0C0C0C;
    background-color: white;
}
.result{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uRes{
    color: white;
    background-color: #2C2C2C;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 1% 2%;
    border-radius: 15px;
    margin-top: 1%;
    font-size: 20px;
}
.right2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sozd{
    color: white;
    background-color: #2C2C2C;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 1% 2%;
    border-radius: 15px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 20px;
}
.sozdanie{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #2C2C2C;
    width: 80%;
    height: 30rem;
    color: white;
    font-size: 25px;
    border-radius: 15px;
}
.sozdanie input{
    font-size: 17px;
    height: 7%;
    padding: 1%;
    width: 60%;
    border-radius: 10px;
    border: 1px solid;
    outline:none;
}
.sozdanie input:focus{
    border:1px solid white;
    box-shadow:0 0 7px white;
}
.sozdanie button{
    color:white;
    background-color: #1B1B1B;
    font-size: 20px;
    padding: 1.5% 3%;
    border: 0;
    cursor: pointer;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.sozdanie button:hover{
    color: black;
    background-color: white;
}
.right3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myhab{
    color: white;
    background-color: #2C2C2C;
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 1% 2%;
    border-radius: 15px;
    margin-top: 1%;
    font-size: 20px;
}

.myhab p{
    border-radius: 15px;
    background-color: #2C2C2C;
    padding: 1% 4%;
}
.achievmentblock{
    margin-top: 10px;
    width: 70%;
    height: 100%;
    background-color: #2C2C2C;
    border-radius: 15px;
    -webkit-box-shadow: 6px 6px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 6px 6px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 6px 6px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.achievmentknop{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ak{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.achievmentknop label{
    color: #CF6262;
}
.lin{
    width: 100%;
    height:1px;
    background-color: #0C0C0C;
}
.textc{
    width: 70%;
}
.textc2{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 3rem;
    }
    .vnutrleft{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .vnutrleft img{
        display: none;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        background-color: none;
        height: 100%;
    }
    .buttons button{
        font-size: 10px;
        width: 100%;
        height: 100%;
        padding: 3%;
        text-align: center;
    }
    .name{
        text-align: center;
        font-size: 10px;
        width: 25%;
        height: 100%;
        border-right: solid 1px #0C0C0C;
    }
    .sozd{
        font-size: 18px;
        width: 50%;
        text-align: center;
    }
    .sozdanie{
        width: 95%;
        height: 20rem;
    }
    .sozdanie label{
        font-size: 20px;
        text-align: center;
    }
    .sozdanie input{
        width: 70%;
        font-size: 16px;
    }
    .sozdanie button{
        font-size: 15px;
        padding: 4% 6%;
    }
    .myhab{
        font-size: 18px;
        text-align: center;
        width: 50%;
    }
    .head{
        width: 100%;
        height: 5rem;
    }
    .prof{
        width:50%;
    }
    .prof img{
        width: 30%;
    }
    .us{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .us label{
        font-size: 18px;
    }
    .us button{
        font-size: 14px;
    }
    .dost{
        width: 50%;
        display: flex;
        justify-content: end;
    }
    .dost button{
        font-size: 15px;
    }
    .uRes{
        font-size: 18px;
        width: 50%;
        text-align: center;
    }
    .achievmentblock{
        width: 95%;
        font-size: 13px;
    }
}